div{
    margin-bottom: 15px;
}

.hint{
    margin-top: 5px;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    color: #737373;
    font-style: italic;
    font-weight: 300;
}

.buttons, #timer, #countdiv{
    text-align: center;
    margin-bottom: 10px;
}


button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    height: 60px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}

button:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.counterup{
    background-color: #44d144;
}

.counterdown{
    background-color: #be5959;
}

.endearly{
    background-color: #868686;
}

.startstop{
    background-color: #6db4de;
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.buttonstop{
    color: red;
    background-color: #c1c1c1;
    font-size: 24pt;
    cursor: default;
    box-shadow: none ;
}

button.whitebutton, button.bluebutton {
    width: 55px;
    height: 38px;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.09);
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin-right: 5px;
}

button.whitebutton{
    background-color: #ffffff;
    border-color: #367fa9;
    color: #000000;
}

button.bluebutton{
    background-color: #047cc2;
    border-color: #367fa9;
    color: #ffffff;
}

button.small{
    width: 70px;
    height: 40px;
    font-size: 10px;
}